* {
  box-sizing: border-box;
}

body {
  margin-top: 50px;
}
/* chat */

.chat-container {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  width: 300px;
  height: 500px;
  margin: auto;
}

.header-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px inset gray;
  width: 100%;
  height: 60px;
  background-color: rgb(237, 237, 237);
}

.leave-chat-btn {
  position: absolute;
  left: 3px;
  border-radius: 40px;
  width: 25px;
  height: 25px;
  font-size: 15px;
  padding-right: 10px;
  margin-left: 5px;
  background-color: rgb(0, 81, 255);
  color: white;
}

.back-icon {
  position: absolute;
  left: 10px;
  font-size: 25px;
  cursor: pointer;
}

.back-icon:hover {
  opacity: 0.6;
}

.body-container {
  padding-top: 8px;
  width: 100%;
  flex-grow: 1;
}

.scroll-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.footer-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
}

.message-input {
  border-radius: 15px;
  height: 30px;
  width: 100%;
  padding-left: 8px;
  padding-right: 30px;
  margin: 0 5px;
}

.message-input:focus {
  outline: none;
}

.send-message-icon {
  position: absolute;
  right: 9px;
  cursor: pointer;
  font-size: 23px;
}

.message-received-container,
.message-sent-container {
  display: block;
  margin: 2px 10px;
  max-width: 250px;
  width: max-content;
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.message-container {
  display: block;
  margin: 2px 10px;
  max-width: 250px;
  width: max-content;
  clear: both;
}

.message {
  border-radius: 10px;
  padding: 10px;
}

.sent {
  background: lightgray;
}

.received {
  background: rgb(0, 81, 255);
}

.msg-sender {
  margin: 0;
  margin-left: 5px;
  font-size: 14px;
  opacity: 0.5;
}

/* Home */

#home-form {
  display: flex;
  width: 300px;
  height: 200px;
  margin: auto;
  justify-content: center;
}

.input-label {
  font-weight: bold;
  display: block;
  text-align: left;
  margin-top: 10px;
  margin-left: 10px;
}

.form-input {
  width: 300px;
  height: 40px;
  margin: 10px;
  border: none;
  background-color: lightgray;
  padding-left: 10px;
}

.form-input:focus {
  outline: none;
}

.join-btn-container {
  margin-top: 10px;
  text-align: center;
}

.add-contact-btn,
.private-message-btn {
  margin: 20px 0;
}

.join-room-btn:active,
.add-contact-btn:active,
.private-message-btn:active {
  opacity: 0.6;
}

.contact-select {
  width: 300px;
  display: block;
  margin: auto;
}

/* Login */

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: green;
  text-align: center;
}

.form-input {
  width: 300px;
  height: 40px;
  margin: 10px;
  border: none;
  background-color: lightgray;
  padding-left: 10px;
}

.login-input:focus {
  outline: none;
}

.form-btn {
  width: 300px;
  height: 40px;
  margin-top: 20px;
  border: none;
  background-color: green;
  font-weight: bold;
}

.form-btn:hover {
  cursor: pointer;
}

.form-btn:active {
  background-color: darkgreen;
}

.link-container {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.link {
  font-weight: bold;
  text-decoration: none;
  color: black;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
  color: rgb(9, 8, 8);
}

.hover {
  opacity: 0.6;
}

.contacts {
  font-size: 20px;
  color: blue;
}

.border,
.contacts-border {
  display: inline-block;
  width: 400px;
  height: 400px;
  background-color: darkgray;
  margin-left: 50%;
  transform: translateX(-50%);
}

.contacts-border {
  height: 500px;
}

/* contacts */

.black {
  color: black;
}

.black-background {
  background-color: black;
  color: white;
}

.margin-top {
  margin-top: 60px;
}
